<nav>

  <% link_to '/' do %>
    <%= image_tag 'logo.svg' %>
  <% end %>

  <%= link_to 'Cérémonie', '#ceremonie' %>

  <%= link_to 'Comment venir', '#venir' %>

  <%= link_to 'Logements', '#logements' %>

  <%= link_to 'RSVP', '#RSVP' %>

</nav>
