<nav>
  <div class="site-header">
    <% link_to '#mt' do %>
      <%= image_tag 'logo.svg' %>
    <% end %>
    <div class="site-links">
    <%= link_to 'Cérémonie', '#ceremonie' %>
    <%= link_to 'Comment venir', '#venir' %>
    <%= link_to 'Logements', '#logements' %>
    <%= link_to 'Liste', '#liste' %>
    <%= link_to 'RSVP', '#RSVP' %>
    </div>
  </div>
</nav>
