<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RSVP">
    <meta property="og:title" content="RSVP - M&T 23 juin 2018" />
    <meta property="og:description" content="All we need is love!" />
    <meta property="og:image" content="images/facebook.jpg" />
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
