---
title: M&T - All we need is love!
---

<main>

  <%= partial "sections/landing" %>

  <%= partial "layouts/navbar" %>

  <%= partial "sections/mt" %>

  <%= partial "sections/ceremonie" %>

  <%= partial "sections/venir" %>

  <%= partial "sections/logements" %>

  <%= partial "sections/liste" %>

  <%= partial "sections/rsvp" %>

</main>

<%= partial "sections/footer" %>
